

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-512419006204937327.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-512419006204937327.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-512419006204937327.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-512419006204937327.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-512419006204937327.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-512419006204937327.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-512419006204937327.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-512419006204937327.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-512419006204937327.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-512419006204937327.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-512419006204937327.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-512419006204937327.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-512419006204937327.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-512419006204937327.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-512419006204937327.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-512419006204937327.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-512419006204937327.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-512419006204937327.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-512419006204937327.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-512419006204937327.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-512419006204937327.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-512419006204937327.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-512419006204937327.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-512419006204937327.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-512419006204937327.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-512419006204937327.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-512419006204937327.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-512419006204937327.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-512419006204937327.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-512419006204937327.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-512419006204937327.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-512419006204937327.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-512419006204937327.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-512419006204937327.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-512419006204937327.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-512419006204937327.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-512419006204937327.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-512419006204937327.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-512419006204937327.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-512419006204937327.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-512419006204937327.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-512419006204937327.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-512419006204937327 .gp-relative{position:relative}.gps-512419006204937327 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512419006204937327 .gp-mb-0{margin-bottom:0}.gps-512419006204937327 .gp-flex{display:flex}.gps-512419006204937327 .gp-grid{display:grid}.gps-512419006204937327 .gp-contents{display:contents}.gps-512419006204937327 .\!gp-hidden{display:none!important}.gps-512419006204937327 .gp-hidden{display:none}.gps-512419006204937327 .gp-h-full{height:100%}.gps-512419006204937327 .gp-w-full{width:100%}.gps-512419006204937327 .gp-max-w-full{max-width:100%}.gps-512419006204937327 .gp-flex-col{flex-direction:column}.gps-512419006204937327 .gp-gap-y-0{row-gap:0}.gps-512419006204937327 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512419006204937327 .gp-duration-200{transition-duration:.2s}.gps-512419006204937327 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-512419006204937327 .tablet\:\!gp-hidden{display:none!important}.gps-512419006204937327 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512419006204937327 .mobile\:\!gp-hidden{display:none!important}.gps-512419006204937327 .mobile\:gp-hidden{display:none}}.gps-512419006204937327 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="gpFFdbpc1Y" data-id="gpFFdbpc1Y"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpFFdbpc1Y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3pXU4l4sn gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g8toGaINxz"
    role="presentation"
    class="gp-group/image g8toGaINxz"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0761/7046/1457/files/Recurso38_480x480_b8717e86-6696-41d3-bd5d-be00d3e06198_480x480.webp?v=1691881152" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTE0NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgZmlsbD0idXJsKCNnLTQ4MC0xNDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0761/7046/1457/files/Recurso38_480x480_b8717e86-6696-41d3-bd5d-be00d3e06198_480x480.webp?v=1691881152" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTE0NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgZmlsbD0idXJsKCNnLTQ4MC0xNDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTE0NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjE0NCIgZmlsbD0idXJsKCNnLTQ4MC0xNDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://cdn.shopify.com/s/files/1/0761/7046/1457/files/Recurso38_480x480_b8717e86-6696-41d3-bd5d-be00d3e06198_480x480.webp?v=1691881152"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g8toGaINxz">
        .g8toGaINxz {

}
.g8toGaINxz > figure > img {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-512419006204937327 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/868dcb-72/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=512419006087431279&sectionId=512419006204937327)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
