

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552802867128894579.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-552802867128894579.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552802867128894579.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552802867128894579.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552802867128894579.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552802867128894579.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552802867128894579.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552802867128894579.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552802867128894579.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552802867128894579.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552802867128894579.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-552802867128894579.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-552802867128894579.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552802867128894579.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552802867128894579.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552802867128894579.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552802867128894579.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552802867128894579.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552802867128894579.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-552802867128894579.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552802867128894579.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-552802867128894579.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-552802867128894579.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-552802867128894579.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552802867128894579.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552802867128894579.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552802867128894579.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552802867128894579.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552802867128894579.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552802867128894579.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552802867128894579.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552802867128894579.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552802867128894579.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552802867128894579.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-552802867128894579.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-552802867128894579.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-552802867128894579.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552802867128894579.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552802867128894579.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-552802867128894579.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-552802867128894579.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-552802867128894579.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-552802867128894579.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-552802867128894579.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-552802867128894579.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-552802867128894579.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-552802867128894579.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-552802867128894579.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-552802867128894579.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-552802867128894579.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552802867128894579.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552802867128894579.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-552802867128894579.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-552802867128894579 .gp-relative{position:relative}.gps-552802867128894579 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552802867128894579 .gp-mb-0{margin-bottom:0}.gps-552802867128894579 .gp-flex{display:flex}.gps-552802867128894579 .gp-grid{display:grid}.gps-552802867128894579 .gp-contents{display:contents}.gps-552802867128894579 .\!gp-hidden{display:none!important}.gps-552802867128894579 .gp-hidden{display:none}.gps-552802867128894579 .gp-h-full{height:100%}.gps-552802867128894579 .gp-w-full{width:100%}.gps-552802867128894579 .gp-max-w-full{max-width:100%}.gps-552802867128894579 .gp-flex-col{flex-direction:column}.gps-552802867128894579 .gp-gap-y-0{row-gap:0}.gps-552802867128894579 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552802867128894579 .gp-duration-200{transition-duration:.2s}.gps-552802867128894579 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552802867128894579 .tablet\:\!gp-hidden{display:none!important}.gps-552802867128894579 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552802867128894579 .mobile\:\!gp-hidden{display:none!important}.gps-552802867128894579 .mobile\:gp-hidden{display:none}}.gps-552802867128894579 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gG0CIYcyXg" data-id="gG0CIYcyXg"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ecffeb;--bgc-mobile:#fbb90c;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gG0CIYcyXg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ghf0osWvpC gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gpuP-yS4OG"
    role="presentation"
    class="gp-group/image gpuP-yS4OG"
    style="--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_509384768677217183-961e9886-e013-42de-b549-558fba7e8efb_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODc2LTgxMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgZmlsbD0idXJsKCNnLTg3Ni04MTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NzYiIHRvPSI4NzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_509384768677217183-961e9886-e013-42de-b549-558fba7e8efb_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODc2LTgxMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgZmlsbD0idXJsKCNnLTg3Ni04MTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NzYiIHRvPSI4NzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODc2LTgxMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODc2IiBoZWlnaHQ9IjgxMCIgZmlsbD0idXJsKCNnLTg3Ni04MTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NzYiIHRvPSI4NzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_509384768677217183-961e9886-e013-42de-b549-558fba7e8efb.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-552802867128894579 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/868dcb-72/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=552802867027641459&sectionId=552802867128894579)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
