

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552710710853895109.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-552710710853895109.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552710710853895109.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552710710853895109.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552710710853895109.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552710710853895109.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552710710853895109.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552710710853895109.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552710710853895109.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552710710853895109.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552710710853895109.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-552710710853895109.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-552710710853895109.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552710710853895109.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552710710853895109.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552710710853895109.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552710710853895109.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552710710853895109.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552710710853895109.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-552710710853895109.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552710710853895109.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-552710710853895109.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552710710853895109.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552710710853895109.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552710710853895109.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552710710853895109.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552710710853895109.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552710710853895109.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552710710853895109.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552710710853895109.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-552710710853895109.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552710710853895109.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552710710853895109.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-552710710853895109.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-552710710853895109.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-552710710853895109.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552710710853895109.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552710710853895109.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-552710710853895109.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-552710710853895109.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-552710710853895109.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-552710710853895109.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-552710710853895109.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-552710710853895109.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-552710710853895109.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-552710710853895109.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-552710710853895109.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-552710710853895109.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552710710853895109.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552710710853895109.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-552710710853895109.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-552710710853895109 .gp-relative{position:relative}.gps-552710710853895109 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552710710853895109 .gp-mb-0{margin-bottom:0}.gps-552710710853895109 .gp-flex{display:flex}.gps-552710710853895109 .gp-grid{display:grid}.gps-552710710853895109 .gp-contents{display:contents}.gps-552710710853895109 .\!gp-hidden{display:none!important}.gps-552710710853895109 .gp-hidden{display:none}.gps-552710710853895109 .gp-h-full{height:100%}.gps-552710710853895109 .gp-w-full{width:100%}.gps-552710710853895109 .gp-max-w-full{max-width:100%}.gps-552710710853895109 .gp-flex-col{flex-direction:column}.gps-552710710853895109 .gp-gap-y-0{row-gap:0}.gps-552710710853895109 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552710710853895109 .gp-duration-200{transition-duration:.2s}.gps-552710710853895109 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552710710853895109 .tablet\:\!gp-hidden{display:none!important}.gps-552710710853895109 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552710710853895109 .mobile\:\!gp-hidden{display:none!important}.gps-552710710853895109 .mobile\:gp-hidden{display:none}}.gps-552710710853895109 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gdIHsWkHed" data-id="gdIHsWkHed"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#fbb90c;--bgc-mobile:#fbb90c;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gdIHsWkHed gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqj7xitM4S gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghOn0h5oWZ"
    role="presentation"
    class="gp-group/image ghOn0h5oWZ"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pos:static;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_509384768677217183-f67f099d-5a3c-4bd1-bbc4-b21818904026_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkwMCIgaGVpZ2h0PSIxMzAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MDAtMTMwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTAwIiBoZWlnaHQ9IjEzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkwMCIgaGVpZ2h0PSIxMzAiIGZpbGw9InVybCgjZy0xOTAwLTEzMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MDAiIHRvPSIxOTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0874/1014/7647/files/gempages_509384768677217183-f67f099d-5a3c-4bd1-bbc4-b21818904026.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkwMCIgaGVpZ2h0PSIxMzAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MDAtMTMwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTAwIiBoZWlnaHQ9IjEzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkwMCIgaGVpZ2h0PSIxMzAiIGZpbGw9InVybCgjZy0xOTAwLTEzMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MDAiIHRvPSIxOTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkwMCIgaGVpZ2h0PSIxMzAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MDAtMTMwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTAwIiBoZWlnaHQ9IjEzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkwMCIgaGVpZ2h0PSIxMzAiIGZpbGw9InVybCgjZy0xOTAwLTEzMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MDAiIHRvPSIxOTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://cdn.shopify.com/s/files/1/0874/1014/7647/files/gempages_509384768677217183-f67f099d-5a3c-4bd1-bbc4-b21818904026.jpg"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-552710710853895109 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/868dcb-72/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=552526345289073463&sectionId=552710710853895109)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
